<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzcf.platform.core.user.data.UserImage" >
  <resultMap id="BaseResultMap" type="UserImage" >
    <result column="image_id" property="imageId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="user_info_id" property="userInfoId" jdbcType="VARCHAR" />
    <result column="art_work" property="artWork" jdbcType="VARCHAR" />
    <result column="small" property="small" jdbcType="VARCHAR" />
    <result column="image_type" property="imageType" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="BaseResultMapVO" type="com.hzcf.platform.core.user.model.UserImageVO" >
    <result column="image_id" property="imageId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="user_info_id" property="userInfoId" jdbcType="VARCHAR" />
    <result column="art_work" property="artWork" jdbcType="VARCHAR" />
    <result column="small" property="small" jdbcType="VARCHAR" />
    <result column="image_type" property="imageType" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>  
  
  
  
  <sql id="Base_Column_List" >
    image_id, user_id, apply_id, user_info_id, art_work, small, image_type, type, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_image
    where image_id = #{imageId,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserId" parameterType="String" resultMap="BaseResultMap">
       select
       <include refid="Base_Column_List" />
       from user_image
       where type='4' and user_id=#{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByApplyId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from user_image
        where apply_id = #{applyId,jdbcType=VARCHAR}
    </select>
    
  <!-- 根据运单号（apply_id），图片类型（type），查询图片集合 -->
  <select id="selectUserImageByApplyIdAndType" resultMap="BaseResultMapVO" parameterType="java.util.Map">
       select
       <include refid="Base_Column_List" />
       from user_image
       where apply_id=#{applyId,jdbcType=VARCHAR} and type=#{type,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据用户ID号（user_id），图片类型（type），查询图片集合 -->
  <select id="selectUserImageByUserIdAndType" resultMap="BaseResultMapVO" parameterType="java.util.Map">
       select
       <include refid="Base_Column_List" />
       from user_image
       where user_id=#{userId} and type=#{type}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="UserImage" >
    delete from user_image
    where

  <if test="userId!=null">

    user_id=#{userId,jdbcType=VARCHAR}
  </if>
    <if test="applyId!=null">

     AND apply_id=#{applyId,jdbcType=VARCHAR} AND
    </if>
     art_work=#{artWork,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="UserImage" >
    insert into user_image (image_id, user_id, apply_id, 
      user_info_id, art_work, small, 
      image_type, type, create_time
      )
    values (#{imageId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{applyId,jdbcType=VARCHAR}, 
      #{userInfoId,jdbcType=VARCHAR}, #{artWork,jdbcType=VARCHAR}, #{small,jdbcType=VARCHAR}, 
      #{imageType,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="UserImage" >
    insert into user_image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="userInfoId != null" >
        user_info_id,
      </if>
      <if test="artWork != null" >
        art_work,
      </if>
      <if test="small != null" >
        small,
      </if>
      <if test="imageType != null" >
        image_type,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null" >
        #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="artWork != null" >
        #{artWork,jdbcType=VARCHAR},
      </if>
      <if test="small != null" >
        #{small,jdbcType=VARCHAR},
      </if>
      <if test="imageType != null" >
        #{imageType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByImageId" parameterType="UserImage" >
    update user_image
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null" >
        user_info_id = #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="artWork != null" >
        art_work = #{artWork,jdbcType=VARCHAR},
      </if>
      <if test="small != null" >
        small = #{small,jdbcType=VARCHAR},
      </if>
      <if test="imageType != null" >
        image_type = #{imageType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where image_id = #{imageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="UserImage" >
    update user_image
    set user_id = #{userId,jdbcType=VARCHAR},
      apply_id = #{applyId,jdbcType=VARCHAR},
      user_info_id = #{userInfoId,jdbcType=VARCHAR},
      art_work = #{artWork,jdbcType=VARCHAR},
      small = #{small,jdbcType=VARCHAR},
      image_type = #{imageType,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where image_id = #{imageId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByUserId" parameterType="UserImage" >
    update user_image
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null" >
        user_info_id = #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="artWork != null" >
        art_work = #{artWork,jdbcType=VARCHAR},
      </if>
      <if test="small != null" >
        small = #{small,jdbcType=VARCHAR},
      </if>
      <if test="imageType != null" >
        image_type = #{imageType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
	<!--  -->
	<update id="updateByUserIdAndTypeAndUrl" parameterType="java.util.Map" >
    update user_image
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null" >
        user_info_id = #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="artWork != null" >
        art_work = #{artWork,jdbcType=VARCHAR},
      </if>
      <if test="small != null" >
        small = #{small,jdbcType=VARCHAR},
      </if>
      <if test="imageType != null" >
        image_type = #{imageType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR} and art_work = #{artWork} and type = #{type}
  </update>
        </mapper>
