<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hzcf.platform.core.user.data.User">
	
	<resultMap id="BaseResultMap" type="USER">
		<id column="id" property="id"/>
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,
		name
	</sql>
	<sql id="Base_Where_Clause">
	  	<if test="id != null and id > 0">and id=#{id} </if>
		<if test="name != null"> and name=#{name} </if>
	</sql>
	<sql id="Base_UPDATE_COLUMN">
		<if test="id != null and id > 0"> id=#{id}, </if>
		<if test="name != null">  name=#{name}, </if>
	</sql>
	
	<sql id="TABLE_NAME">hzd_user</sql>
	<sql id="ORDER_COLUMN">id</sql>

	<sql id="INSERT_VALUE">
	  #{id},
      #{name,jdbcType=VARCHAR}
	</sql>
	
	<select id="FINDLIST" resultMap="BaseResultMap" parameterType="map">
	       SELECT <include refid="Base_Column_List" /> FROM <include refid="TABLE_NAME" />
	       <where>
	       <include refid="Base_Where_Clause"/>
	       </where>
	       ORDER BY <include refid="ORDER_COLUMN" /> DESC  
	       LIMIT #{pageNo},#{pageSize}
	</select>
	
	<select id="FINDLIST_COUNT" resultType="int"  parameterType="map">
	    SELECT count(1) FROM <include refid="TABLE_NAME" /> 	       
	    <where>
	       <include refid="Base_Where_Clause"/>
	    </where>
	</select>
	
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" /> FROM <include refid="TABLE_NAME" />
		<where>
			id=#{id}
		</where>  
	</select>

	<delete id="deleteById" parameterType="long">
		DELETE FROM <include refid="TABLE_NAME" />
	    <where>
			id=#{id}
		</where> 
	</delete>
	    
	<update id="updateById" parameterType="USER">
		UPDATE <include refid="TABLE_NAME" /> 
		<set>
		<if test="name != null and name !='' ">name=#{name},</if>
		</set>
	     <where>
			id=#{id}
		</where>   
	</update>
	    
	<insert id="insert"  useGeneratedKeys="true" keyProperty="id"  parameterType="USER">
	    INSERT INTO <include refid="TABLE_NAME" />( 
		<include refid="Base_Column_List"></include>
		) 
		VALUES(
		<include refid="INSERT_VALUE"></include>
		)   
	</insert>
	
	<!-- 批量插入 -->
	<insert id="batchInsert"  useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		insert into <include refid="TABLE_NAME" /> (
		name)
		values
		<foreach collection="list" item="item" index="index" separator="," >
		(
		#{item.name}
		)
		</foreach>
	</insert>
    
</mapper>