<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.hzcf.platform.core.user.data.User" alias="User"/>
		<typeAlias type="com.hzcf.platform.core.user.data.UserApplyInfo" alias="UserApplyInfo"/>
		<typeAlias type="com.hzcf.platform.core.user.data.UserInfo" alias="UserInfo"/>
		<typeAlias type="com.hzcf.platform.core.user.data.UserRelation" alias="UserRelation"/>
	</typeAliases>
	
	
	
	<!-- 指定映射文件 -->
	<mappers>
		<mapper resource="sqlmap/Usermapper.xml" />
		<mapper resource="sqlmap/UserApplyInfoMapper.xml" />
		<mapper resource="sqlmap/userInfoMapper.xml" />
		<mapper resource="sqlmap/userRelationMapper.xml" />
	</mappers>

</configuration>

